/* font-family: 'Archivo', sans-serif; */
html{
  font-size: 62.5%;
  background-color: gray;
}

#top-block{
    width: 100%;
    background-color: yellow;
    height: 8em;
}

.fas.fa-bars{
    color: white;
    font-size: 4em;
    padding: .5rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

#dropdown-contact{
    display: inline-block;
}

#logo-block{
    width: 100%;
    background-color: white;
    height: 8em;
}

.fas.fa-bars{
    color: black;
    font-size: 4em;
    padding: .5rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
}

#logo-info{
    display: inline-block;
}

#logo{
    float: right;
}
#logoimg{
    height: 8rem;
}